target/
.settings/
.idea/

.classpath
.project

mumitify.iml

src/main/resources/templates/index.html
src/main/resources/templates/callback.html

src/main/resources/templates/callback.html

src/main/resources/static/assets/angular/